@font-face {
    font-family: GothamBook;
    src: url(assets/Gotham-Book.otf);
}
@font-face {
    font-family: GothamBold;
    src: url(assets/Gotham-Bold.otf);
}
@font-face {
    font-family: GothamBlack;
    src: url(assets/Gotham-Black.otf);
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
html {
    background: url(assets/BackgroundDIamond.png) center center/cover no-repeat, #211856;
}
h1 {
    font-family: GothamBold;
    font-size: 5vh;
    margin-top: 0;
}
h3 {
    font-family: GothamBook;
    float: right;
    font-size: 3.5vh;
    color: #fff;
    margin: 3.5vh;
    text-decoration: none;
}
p {
    font-family: GothamBook;
    float: right;
    font-size: 3.5vh;
    color: #fff;
    margin: 3.5vh;
    text-decoration: none;
    border-width: 3px;
    border-color: #000000;
}


em {
    color: #32E9FF;
    font-family: GothamBlack;
    font-style: normal;
}
input {
    width: 74vh;
    height: 6vh;
    font-family: GothamBook;
    font-size: 3.5vh;
}
#mGlass{
    position: absolute;
    bottom: 67%;
    right: 27.5%;    
}
#dropshadow{
    position: relative;
    z-index: -1;
    top: -46px;
    right: -24px;
}
#dropshadowinfo{
    position: absolute;
    z-index: -1;
    
}
label {
    font-family: GothamBook;
    font-size: 3.5vh;
    color: #fff;
    text-align: left;
    display: inline-block;
    width: 70vh;
}
ul li {
    font-family: GothamBook;
    font-size: 3vh;
    color: #000000;
    list-style: none;
}
.header {
    width: 100%;
}
.hero {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
}
.search {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.results {
    width: 100%;
    max-width: 70vh;
    background: #fff;
    padding: 16px;
    box-sizing: border-box;
    max-height: 35vh;
    overflow: auto;
    display: none;
}
.footer {
    position: absolute;
    bottom: -70px;
    overflow: hidden;
    white-space: nowrap;
}
#l1, #l3, #l6, #l8, #l11, #l13, #l16, #l18, #l21, #l23, #l26, #l28, #l31, #l33, #l36 {
    transform: translateY(15px);
}

#l4, #l7, #l12, #l15, #l17, #l22, #l25, #l27, #l32, #l35 {
    transform: translateY(30px);
}

#l5, #l9, #l14, #l19, #l24, #l29, #l34 {
    transform: translateY(45px);
}

#l2, #l10, #l20, #l30, #l37 {
    transform: translateY(22px);
}
.footer img {
    height: auto;
    padding: 25px;
}

.infowords{
    color: white;
}